<%- include('../_partial/_header'); -%>

<section>
    <div class="container-fluid">
        <hr class="w-25 mx-auto pb-5">
        <div class="row mb-3">
            <div class="col-lg-6 col-md-6 col-12"><img src="../../images/fruit.jpg" class="img-fluid"></div>
            <div class="col-lg-6 col-md-6 col-12">
                <h1 id="hello1 ">Fruits</h1>
                <hr>
                <p id="hello">In botany, a fruit is the seed-bearing structure in flowering plants (also known as angiosperms) formed from the ovary after flowering.
                    Fruits are the means by which angiosperms disseminate seeds. Edible fruits, in particular,have propagated with the movements of humans and animals
                     in a symbiotic relationship as a means for seed dispersal and nutrition; in fact,
                     humans and many animals have become dependent on fruits as a source of food. In common language usage, "fruit" normally means the fleshy 
                     seed-associated structures of a plant that are sweet or sour, and edible in the raw state, such as apples, bananas, grapes, lemons, oranges,
                      and strawberries

                </p>
                  <button class="btn bg-primary">Know more</button>
            </div>
        </div>
    </div>
</section>
<!--service part-->
<section>
    <div class="container-fluid">
      <h1 class="text-center text-capitalize pt-3">We have..</h1>
      <hr class="w-25 mx-auto pb-5">
        <div class="row text-centre mb-5">
            <div class="col-lg-4 col-md-4 col-12">
              <div class="card" style="width:400px">
                  <img class="card-img-top" src="../../images/apple.png" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">Apple</h4>
                    <p class="card-text">Some example text.</p>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="card" style="width:400px">
                  <img class="card-img-top" src="../../images/banana.jpg" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">Banana</h4>
                    <p class="card-text">Some example text.</p>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="card" style="width:400px">
                  <img class="card-img-top" src="../../images/grapes.jpg" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">Berries</h4>
                    <p class="card-text">Some example text.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>
<!--contact-->
<section class="bg-primary mb-3">
    <article class="text-center py-5 text-white">
        <div>
            <h3 class="display-4 text-white">+9770561245</h3>
            <p>call for service</p>
            <button class="btn btn-success">contact now</button>
        </div>
    </article>
</section>
<%- include ('../_partial/_footer'); -%>